:root {
    --white: #fff;
    --primary: #7e9949;
    --secondary: #A9CB664D;
    --text-primary: #000000;
    --text-secondary: #6F6F6F;
    --text-tertiary: light-grey;
    --btn-secondary: #000000;
    --btn-primary: #7e9949;
}